<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/salesforce.png"
            level-id="salesforce"
            locked="true"
            name="Salesforce"
            path="/toolintegration/">
      </category>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/toolintegration/salesforce"
            deprecated="false"
            factory-class="org.knime.salesforce.connect2.SalesforceConnector2NodeFactory">
      </node>
      <node
            after="org.knime.salesforce.connect2.SalesforceConnector2NodeFactory"
            category-path="/toolintegration/salesforce"
            deprecated="true"
            factory-class="org.knime.salesforce.connect.SalesforceConnectorNodeFactory">
      </node>
      <node
            after="org.knime.salesforce.connect.SalesforceConnectorNodeFactory"
            category-path="/toolintegration/salesforce"
            deprecated="true"
            factory-class="org.knime.salesforce.extractor.SalesforceAuthExtractNodeFactory">
      </node>
      <node
            after="org.knime.salesforce.extractor.SalesforceAuthExtractNodeFactory"
            category-path="/toolintegration/salesforce"
            deprecated="false"
            factory-class="org.knime.salesforce.simplequery.SalesforceSimpleQueryNodeFactory"
            hidden="false">
      </node>
      <node
            after="org.knime.salesforce.simplequery.SalesforceSimpleQueryNodeFactory"
            category-path="/toolintegration/salesforce"
            deprecated="false"
            factory-class="org.knime.salesforce.soql.SalesforceSOQLNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Salesforce Connection"
            color="#4386f7"
            objectClass="org.knime.salesforce.auth.port.SalesforceConnectionPortObject"
            objectSerializer="org.knime.salesforce.auth.port.SalesforceConnectionPortObject$Serializer"
            specClass="org.knime.salesforce.auth.port.SalesforceConnectionPortObjectSpec"
            specSerializer="org.knime.salesforce.auth.port.SalesforceConnectionPortObjectSpec$Serializer">
      </portType>
   </extension>
  <extension point="org.knime.credentials.base.CredentialType">
    <credentialType
      id="knime.salesforceOAuth2Credential"
      name="Salesforce"
      credentialClass="org.knime.salesforce.auth.credential.SalesforceAccessTokenCredential"
      credentialSerializerClass="org.knime.salesforce.auth.credential.SalesforceAccessTokenCredential$Serializer"
      secretConsumableParserProvider="org.knime.salesforce.auth.credential.SalesforceAccessTokenCredentialParserProvider">
    </credentialType>
  </extension>

</plugin>
